<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Movie Night</span>
  </div>
</nav>
<div class="containerFluid bg-dark margin:5">
  <div class="row margin:5px">
    <div class="col-sm-2 text-white">
      <app-movie-card
        [movieId]="1"
        [imageSource]="'assets/pictures/Avengers.png'"
        [data]="movieData?.avengers"
      ></app-movie-card>
    </div>

    <div class="col-sm-2 text-white">
      <app-movie-card
        [movieId]="2"
        [imageSource]="'assets/pictures/Guardians of The Galaxy.png'"
        [data]="movieData?.guardiansOfTheGalaxy"
      ></app-movie-card>
    </div>

    <div class="col-sm-2 text-white">
      <app-movie-card
        [movieId]="3"
        [imageSource]="'assets/pictures/Knives Out.png'"
        [data]="movieData?.knivesOut"
      ></app-movie-card>
    </div>

    <div class="col-sm-2 text-white">
      <app-movie-card
        [movieId]="4"
        [imageSource]="'assets/pictures/Spider Man.png'"
        [data]="movieData?.spiderMan"
      ></app-movie-card>
    </div>

    <div class="col-sm-2 text-white">
      <app-movie-card
        [movieId]="5"
        [imageSource]="'assets/pictures/Tenet.png'"
        [data]="movieData?.tenet"
      ></app-movie-card>
    </div>
    <div class="container-fluid card mt-5" style="width: 300px">
      <div class="mt-2 col-sm-12 text-white">
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <img
              src="assets/pictures/movie.png"
              alt="Logo"
              width="30"
              height="24"
              class="d-inline-block align-text-top"
            />
            <label class="navbar-brand label"> Movie list </label>
          </div>
        </nav>
        <div class="mt-2 mb-2">
          <button class="btn btn-dark mb-2" (click)="sort('title')">
            Sort by Title
          </button>
          <button class="btn btn-dark" (click)="sort('releasedDate')">
            Sort by Released Date
          </button>
        </div>
        <app-movie-list-card
          *ngFor="let movieListData of movieListData"
          [data]="movieListData"
          [movieId]="movieListData.movieId"
        >
        </app-movie-list-card>
      </div>
    </div>
  </div>
</div>
