<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Movie Night</span>
  </div>
</nav>
<div class="containerFluid bg-dark">
  <div class="row margin:5px">
    <div class="col-sm-2 text-white">
      <app-movie-card
        [movieId]="1"
        [imageSource]="'assets/pictures/Avengers.png'"
        [data]="movieData"
      ></app-movie-card>
    </div>

    <div class="col-sm-2 text-white">
      <app-movie-card
        [movieId]="2"
        [imageSource]="'assets/pictures/Guardians of The Galaxy.png'"
        [data]="movieData"
      ></app-movie-card>
    </div>

    <div class="col-sm-2 text-white">
      <app-movie-card
        [movieId]="3"
        [imageSource]="'assets/pictures/Knives Out.png'"
        [data]="movieData"
      ></app-movie-card>
    </div>

    <div class="col-sm-2 text-white">
      <app-movie-card
        [movieId]="4"
        [imageSource]="'assets/pictures/Spider Man.png'"
        [data]="movieData"
      ></app-movie-card>
    </div>

    <div class="col-sm-2 text-white">
      <app-movie-card
        [movieId]="5"
        [imageSource]="'assets/pictures/Tenet.png'"
        [data]="movieData"
      ></app-movie-card>
    </div>
    <div class="container-fluid card mt-5" style="width: 300px">
      <div class="mt-2 col-sm-12 text-white">
        <div class="text-black">
          <h1>Movie List</h1>
        </div>
        <ol class="list-group list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Avengers</div>
              Adventure , Action, Sci-Fi
            </div>
            <span class="badge bg-primary rounded-pill">Top 1</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Guardian of The Galaxy</div>
              Action, Adventure, Comedy
            </div>
            <span class="badge bg-primary rounded-pill">Top 2</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Knives Out</div>
              Comedy, Crime, Drama
            </div>
            <span class="badge bg-primary rounded-pill">Top 3</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Tenet</div>
              Action, Sci-Fi
            </div>
            <span class="badge bg-primary rounded-pill">Top 4</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Spider-Man</div>
              Action, Animation, Adventure
            </div>
            <span class="badge bg-primary rounded-pill">Top 5</span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
