<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="''">
      <h1 class="text-white">Movie Night</h1></a
    >
    <div class="d-flex" role="search">
      <button class="btn btn-outline-dark">
        <h4 class="fw-bold text-white" routerLink="watch-list">
          <img
            src="assets/pictures/movie.png"
            alt="Logo"
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          My Watch List
        </h4>
      </button>
    </div>
  </div>
</nav>
<app-detail-card
  *ngIf="movieId === 1"
  [data]="detailData?.avengers"
  [iframeSource]="avengersVideoUrl"
  [imageSource]="'assets/pictures/Avengers.png'"
  [imageAlt]="'tenet-movie-image'"
  (addToWatchList)="handleAddToWatchList()"
>
</app-detail-card>
<app-detail-card
  *ngIf="movieId === 2"
  [data]="detailData?.guardiansOfTheGalaxy"
  [iframeSource]="guardiansVideoUrl"
  [imageSource]="'assets/pictures/Guardians of The Galaxy.png'"
  [imageAlt]="'tenet-movie-image'"
  (addToWatchList)="handleAddToWatchList()"
>
</app-detail-card>
<app-detail-card
  *ngIf="movieId === 3"
  [data]="detailData?.knivesOut"
  [iframeSource]="knivesVideoUrl"
  [imageSource]="'assets/pictures/Knives Out.png'"
  [imageAlt]="'tenet-movie-image'"
  (addToWatchList)="handleAddToWatchList()"
>
</app-detail-card>
<app-detail-card
  *ngIf="movieId === 4"
  [data]="detailData?.spiderMan"
  [iframeSource]="spiderManVideoUrl"
  [imageSource]="'assets/pictures/Spider Man.png'"
  [imageAlt]="'tenet-movie-image'"
  (addToWatchList)="handleAddToWatchList()"
>
</app-detail-card>
<app-detail-card
  *ngIf="movieId === 5"
  [data]="detailData?.tenet"
  [iframeSource]="tenetVideoUrl"
  [imageSource]="'assets/pictures/Tenet.png'"
  [imageAlt]="'tenet-movie-image'"
  (addToWatchList)="handleAddToWatchList()"
>
</app-detail-card>
