<nav class="navbar containerFluid bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="''">
      <div>
        <h1 class="text-white">Movie Night</h1>
      </div>
    </a>
  </div>
</nav>
<div class="container-fluid mt-2 mb-2">
  <button class="btn btn-outline-dark">
    <h4 class="fw-bold" routerLink="watch-list">
      Watch List: {{ watchListCount }}
    </h4>
  </button>
</div>
<app-detail-card
  *ngIf="movieId === 1"
  [data]="detailData?.avengers"
  [iframeSource]="avengersVideoUrl"
  [imageSource]="'assets/pictures/Avengers.png'"
  [imageAlt]="'tenet-movie-image'"
  (addToWatchList)="handleAddToWatchList()"
>
</app-detail-card>
<app-detail-card
  *ngIf="movieId === 2"
  [data]="detailData?.guardiansOfTheGalaxy"
  [iframeSource]="guardiansVideoUrl"
  [imageSource]="'assets/pictures/Guardians of The Galaxy.png'"
  [imageAlt]="'tenet-movie-image'"
  (addToWatchList)="handleAddToWatchList()"
>
</app-detail-card>
<app-detail-card
  *ngIf="movieId === 3"
  [data]="detailData?.knivesOut"
  [iframeSource]="knivesVideoUrl"
  [imageSource]="'assets/pictures/Knives Out.png'"
  [imageAlt]="'tenet-movie-image'"
  (addToWatchList)="handleAddToWatchList()"
>
</app-detail-card>
<app-detail-card
  *ngIf="movieId === 4"
  [data]="detailData?.spiderMan"
  [iframeSource]="spiderManVideoUrl"
  [imageSource]="'assets/pictures/Spider Man.png'"
  [imageAlt]="'tenet-movie-image'"
  (addToWatchList)="handleAddToWatchList()"
>
</app-detail-card>
<app-detail-card
  *ngIf="movieId === 5"
  [data]="detailData?.tenet"
  [iframeSource]="tenetVideoUrl"
  [imageSource]="'assets/pictures/Tenet.png'"
  [imageAlt]="'tenet-movie-image'"
  (addToWatchList)="handleAddToWatchList()"
>
</app-detail-card>
