<div class="card">
  <!-- <img
    class="card-img-top"
    src="assets/pictures/ng-card.jpg"
    alt="Card image"
  /> -->
  <!-- <div class="card-img-overlay"> -->
      <div class="container-fluid bg-dark">
      <h1 class="title text-white">Avengers: Age of Ultron</h1>
    <div class="row">
      <div class="col-sm-4">
        <img src="assets/pictures/Avengers.png" alt="avengers-image" />
      </div>
      <div class="col-sm-4">
        <p class="description text-white">
          Armed with only one word, Tenet, and fighting for the survival of the
          entire world, a Protagonist journeys through a twilight world of
          international espionage on a mission that will unfold in something
          beyond real time.
        </p>
      </div>
    </div>
  </div>
  <a href="#" class="btn btn-primary">See Profile</a>
  <!-- </div> -->
</div>

<!-- Title: Avengers: Age of Ultron
Description: When Tony Stark and Bruce Banner try to jump-start a dormant peacekeeping program
called Ultron, things go horribly wrong and it's up to Earth's mightiest heroes to stop the villainous Ultron
from enacting his terrible plan.
Rating: 7.3
Duration: 2h 21min
Genre: Action, Adventure, Sci-Fi
Released date: 1 May 2015
Trailer Link: https://www.youtube.com/watch?v=tmeOjFno6Do  -->
