<div class="container-fluid">
  <div class="containerFluid">
    <div class="column">
      <h1 class="title mb-2">{{ data?.title }}</h1>
      <div class="row margin:5px">
        <div class="video-container col-sm-6 mb-5">
          <iframe
            width="900"
            height="500"
            [src]="sanitizedVideoUrl"
            type="video/mp4"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
        <div class="col-sm-6 mb-5">
          <Label class="fw-bold"> Description:</Label>
          <p>
            {{ data?.description }}
          </p>
          <Label class="fw-bold"> Genre:</Label>
          <p>
            {{ data?.genre }}
          </p>
          <Label class="fw-bold"> Rating:</Label>
          <p>
            {{ data?.rating }}
          </p>
          <Label class="fw-bold"> Released Date:</Label>
          <p>
            {{ data?.releasedDate }}
          </p>
          <Label class="fw-bold"> Duration:</Label>
          <p>
            {{ data?.duration }}
          </p>
          <img style="width: 200px" [src]="imageSource" [alt]="imageAlt" />
          <div class="mt-2">
            <button class="btn btn-danger" (click)="handleButtonClick()">
              Add to Watch List
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
