<nav class="navbar containerFluid bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="''">
      <div>
        <h1 class="text-white">Movie Night</h1>
      </div>
    </a>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <ng-container *ngFor="let movie of watchListWithDetails$ | async">
      <div class="col-sm-2">
        <app-watch-list-card
          [data]="movie"
          [imageSource]="'assets/pictures/Avengers.png'"
          (removeButtonClicked)="onRemoveClicked()"
        ></app-watch-list-card>
      </div>
    </ng-container>
  </div>
</div>
